@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border;
}

:root {
    --prim-c: rgba(255,255,255,0.8);
    --sec-c: rgba(255,255,255,0.3)
}

body {
    color: var(--prim-c);
    font-family: "Tilt Neon",sans-serif;
    background-image: url(img/pexels-egor-kamelev-920157.jpg);
    background-repeat:inherit;
    width: 750px;
    height: 100%;
    margin: auto;
    justify-content: center;
}

.hover:hover{
    cursor: pointer;
    color: var(--prim-c);
    transition: 0.3s ease;
}

.box-shadow:hover{
    z-index: 6;
}
